.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  /* margin-bottom: .5rem; */
  font-weight: 500;
  line-height: 1.2;
}


.App {
  margin-left: 5%;
  margin-right: 5%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.home{
width: 100%;
margin-bottom: 10%;
}

.lien_ext{
  color: black;
  text-decoration : none;
}
.lien_ext:hover {
  color:#778899;
  text-decoration : none;
}

.navOm {
  display: flex;
  flex-wrap: wrap; 
  margin-bottom: 0;
  list-style: none;
  padding: 2%;
  padding-right: 5%;
  padding-left: 3%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  z-index: 1;
  position:fixed;
  top: 0; /* vaut mieux fixer les valeurs par défaut pour ne pas avoir de mauvaises surprises */
  left: 0;
  right: 0;
  
}

.logo{
  width : 70px;
  margin-left: 2%;
}

.links{
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-between;
}

.input:focus{
  outline : none
  }

input[type=button]{
  -webkit-appearance: none;
}

.title{
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 5%;
  text-align: center;
}

.subtitle{
  color: #778899;
}

/* =========================
CARD 
========================= */
.rangProjet{
  display: flex; 
}
.workard{
  /* justify-content: center;
  align-items: center; */
  position:relative;
  width : 100%;
  height: 350px ;
  display: flex;
  flex-direction: row;
  margin: 0.5%;
 
}

.image{
  width:100%;
  height: 350px; 
  /* z-index: 5 */
}


.pic1{
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 1% 1% 1% 1%;
}


.textCard{
  position:absolute;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 29, 40, 0.7);
  /* background-color: rgba(0, 29, 40); */
  width: 100%;
  height: 350px;
  color:#778899;
  text-decoration : none;
  border-radius: 1% 1% 1% 1%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
  /* z-index: 1 */
}
.descriptif{
  font-size: 0.9rem;
}
/* 
.textCard:hover{
  color:white;
  text-decoration : none;
} */

.lien_extbody{
  color:#778899;
  text-decoration : none;
}
.lien_extbody:hover {
  color:white;
  text-decoration : none;
}

/* 
.textCard2{
  display: flex;
  height:350px;
  background-color: #F2F2F2;
  width:40%;
  border-radius: 1% 0% 0% 1%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.textCard2:hover{
  background-color: black;
  color : white
} */

/* .textinCard{
  margin-top: 33%;
  margin-bottom: 33%;
} */



/* ==========================
About Page 
========================== */
/* 
.aboutPic{
  width: 50%;
} */
.mePic {
  padding-top: 10%;
  width: 100%;
  height: 85vh;
  object-fit: cover;
}

.container{
 display: 'flex'; 
 flex-direction: 'column';
 /* margin-top: 100px; */

}

.row{
  width:100%;
  align-items: center;
  justify-content: center;
}

.aboutText{
  padding-top: 10%;
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: top;
}
.downloadCv{
  color: #778899;
  font-size: 14;
  text-decoration: none
  }
.downloadCv:hover{
color : black;
text-decoration: none
}
.skillsTitle{
  width: 100%;
}
.skills{
  width : 21%;
  margin: 2%;
  height: 70px;
  object-fit: contain;
}

/* @media only screen and (max-width: 800px) {
  .aboutPic { 
    height: 70vh
  }
  } */
  
/* ==========================
Contact Page 
========================== */

.contactPic{
  /* padding-top: 10px; */
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.contactText{
  /* padding-top: 10px; */
/* width: 50%; */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: top;

}
 .contactForm{
  height : 400px;
   /* display: flex;
  flex-direction: column; */
/*  
  justify-content: center;
  align-items: center;  */
} 

.input{
  border-radius: 3px;
  margin: 2%;
  height: 20px; 
  width: 150px;
  color: #666666;
  border-color: #666666;
  border-style: thin ;
  height: auto;
	border-color: #222; 
	margin: 0;
	padding: .75em;
	border-radius: 0;
	overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  border-width: 1px;
  width: 100%;
  height: 40px;
  padding: 12px 14px;
  border-top-color: rgba(68, 68, 68, 0.3);;
    border-top-style: solid;
    border-top-width: thin;
    border-right-color: rgba(68, 68, 68, 0.3);;
    border-right-style: solid;
    border-right-width: thin;
    border-bottom-color: rgba(68, 68, 68, 0.3);
    border-bottom-style: none;
    border-bottom-width: thin;
    border-left-color: rgba(68, 68, 68, 0.3);;
    border-left-style: solid;
    border-left-width: thin;
}
.inputArea{
  width: -webkit-fill-available;
  border-bottom: solid;
  height: 280px;
  margin-bottom: 10px;
  border-width : thin;
  border-color: rgba(68, 68, 68, 0.3);
}

.contactButton{
  border:none;
  background-color: rgba(0, 29, 40, 0.7);
  border-radius: 10px;
  color: white; 
  height:30px; 
  width: 30%;
  margin-right: 35%;
  margin-left: 35%;
  /* width: 80px; */
}
.contactButton:focus{
  outline: none
}
.contactButton:hover{
  color: #222;
  background-color: white;
  border: 1px solid #222;
  
  }

.back-to-top-fixed {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 48px;
  display: block;
  bottom: 39px;
  height: 48px;
  width: 48px;
  left: 50%;
  transform: translateX(-50%);
}

.popup{
  position: fixed;  
  width: 100%;  
  height: 100%;  
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0, 0.5);  
  z-index: 6;
}
.popupinner{
  overflow: scroll; 
  position: absolute;  
  left: 25%;  
  right: 25%;  
  top: 25%;  
  bottom: 25%;  
  padding: 3%;
  margin: auto;  
  text-align: center;
  border-radius: 2px;  
  background-color: white;
  height: fit-content;
}

.popupmsg{
  justify-content: center;
  text-align: center;
}
.button{
  border : 1px solid black;
  padding: 2%;
  color: black;
  border-radius: 2px;
}
.button:hover{
  color: #778899;
  text-decoration: none;
  border : 1px solid #778899;
  
}

@media only screen and (max-width: 800px) {

  .rangProjet { 
    display: flex;
    flex-direction: column;
  }
 
  }
  

@media only screen and (max-width: 600px) {
  .container{
    padding-top: 30%;
    padding-bottom: 30%;
  }
  .home{
    padding-top: 20%;
  }
  .row{
    padding: 0; 
    display: flex;
    flex-direction: column;
  }
  .links{
    width: 100%;
  }
  .mePic{
    height: 60vh
  }
  .rangProjet { 
    display: flex;
    flex-direction: column;
  }
  .contactForm{
    margin-top: 10%;
  }
  .contactButton { 
    margin-bottom: 10%;
  }
  /* .contactPic{
    height: 40vh;
  } */
  }
  